// About section styles

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding: 0 20px;
  padding-top: 60px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.about {
  background-color: #84a178;
}
.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
  }
}
.about__title-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  max-width: 210px;
  color: #fcfcfc;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    max-width: 276px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    max-width: 376px;
  }
}
.about__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  max-width: 200px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    letter-spacing: 0.06em;
    max-width: 454px;
    margin-bottom: 72px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    max-width: 376px;
  }
}
.about__img-wrap {
  position: relative;
  width: 278px;
  height: 278px;
  margin-bottom: 62px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;

  @media screen and (min-width: 768px) {
    width: 334px;
    height: 330px;
    border-radius: 166px;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    border-radius: 250px;
  }
}
.about__img {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
}
.about__text1,
.about__text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  text-align: center;

  color: #fcfcfc;
  max-width: 220px;
}
.about__text1 {
  letter-spacing: 0.04em;
  line-height: 1.76;
  margin-bottom: 4px;
}
.about__text2 {
  line-height: 1.62;
  margin-bottom: 20px;
}
.about__button {
  border: transparent;
  background-color: #f8d24e;
  color: #000000;
  width: 164px;
  height: 42px;
  border-radius: 9px;
  margin-bottom: 42px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    outline: #0a8817;
    color: #fcfcfc;
  }
  &:disabled {
    background-color: #ababab;
  }
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.about__svg {
  fill: currentColor;
  margin-left: 5px;
}
