.read-more-modal {
  width: 280px;
  height: 459px;
  padding: 28px;
  background: #fcfcfc;
  border: 1px solid #f8d24e;
  border-radius: 10px;
}
.read-more-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  justify-content: center;

  color: #131313;
  margin-bottom: 20px;
}
.read-more-modal__video {
  width: 224px;
  height: 199px;
  margin-bottom: 20px;
}

.read-more-modal__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}
