// About section styles
.about {
  background-color: $background-color;
  padding-top: 60px;
}

// .about__wrap {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-direction: row;
//     gap: 32px;
//   }
//   @media screen and (min-width: 1200px) {
//     gap: 100px;
//     align-items: center;
//   }
// }

.about__wrap-title,
.about__wrap-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__wrap-text {
  // @media screen and (min-width: 768px) {
  //   align-items: flex-start;
  // }
  // @media screen and (min-width: 1200px) {
  //   flex-grow: 1;
  // }
}

.about__title-label {
  font-family: $font-main;
  color: $main-text-color;
  @include font(700, 18px, 1.22, 0);
  text-align: center;
  text-transform: uppercase;
  max-width: 210px;
  margin-bottom: 12px;

  // @media screen and (min-width: 768px) {
  //   font-weight: 800;
  //   font-size: 22px;
  //   line-height: 1.23;
  //   letter-spacing: 0.04em;
  //   max-width: 276px;
  // }
  // @media screen and (min-width: 1200px) {
  //   font-size: 30px;
  //   max-width: 376px;
  // }
}

.about__title {
  text-transform: uppercase;
  width: 200px;
  margin-bottom: 32px;

  // @media screen and (min-width: 768px) {
  //   font-size: 34px;
  //   letter-spacing: 0.06em;
  //   min-width: 456px;
  //   margin-bottom: 72px;
  // }
  // @media screen and (min-width: 1200px) {
  //   font-size: 36px;
  //   min-width: 483px;
  // }
}

.about__img-wrap {
  position: relative;
  width: 278px;
  height: 278px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
  // @media screen and (min-width: 768px) {
  //   width: 334px;
  //   height: 330px;
  //   border-radius: 166px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 490px;
  //   height: 490px;
  //   border-radius: 250px;
  // }
}

.about__img {
  position: absolute;
  top: 22px;
  left: 0;

  // @media screen and (min-width: 768px) {
  //   top: 26px;
  // }
  // @media screen and (min-width: 1200px) {
  //   top: 39px;
  // }
}

.about__text1 {
  font-family: $font-main;
  color: $main-text-color;
  @include font(400, 12px, 1.76, 0.04em);
  text-align: center;
  width: 220px;
  margin-bottom: 4px;
  // @media screen and (min-width: 768px) {
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 176%;
  //   /* or 21px */

  //   letter-spacing: 0.04em;

  //   color: #fcfcfc;
  //   margin-bottom: 8px;
  //   text-align: start;

  //   width: 336px;
  // }
  // @media screen and (min-width: 1200px) {
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 176%;
  //   /* or 28px */

  //   letter-spacing: 0.04em;

  //   color: #fcfcfc;
  //   width: 463px;
  // }
}

.about__text2 {
  font-family: $font-main;
  color: $main-text-color;
  @include font(400, 12px, 1.62, 0);
  text-align: center;
  width: 220px;
  margin-bottom: 20px;

  // @media screen and (min-width: 768px) {
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 176%;
  //   /* or 21px */

  //   letter-spacing: 0.04em;
  //   text-align: start;
  //   color: #fcfcfc;

  //   width: 336px;
  //   margin-bottom: 8px;
  // }
  // @media screen and (min-width: 1200px) {
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 194%;
  //   /* or 27px */

  //   letter-spacing: 0.04em;

  //   color: #fcfcfc;
  //   width: 463px;
  // }
}

.about__text3 {
  display: none;

  // @media screen and (min-width: 768px) {
  //   display: block;
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 194%;
  //   /* or 23px */

  //   letter-spacing: 0.04em;

  //   color: #fcfcfc;
  //   text-align: start;
  //   width: 280px;
  //   margin-bottom: 48px;
  // }
  // @media screen and (min-width: 1200px) {
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 194%;
  //   /* or 27px */

  //   letter-spacing: 0.04em;

  //   color: #fcfcfc;
  //   width: 463px;
  // }
}

.about__button {
  border: transparent;
  background-color: $accent-color;
  width: 164px;
  height: 42px;
  font-weight: 700;
  &:hover {
    background-color: $hover-color;
  }
  &:focus {
    background-color: $hover-color;
    outline: $hover-color;
  }
  &:disabled {
    background-color: $disabled-color;
  }
}

.about__svg {
  margin-left: 5px;
}
